.jumbotron {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: purple;
}

p {
  color: aqua;
}

#titleText {
  color: silver;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

body {
  background-color: aqua;
}

.panel-heading {
  background-color: purple;
}
