.jumbotron {
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: purple;
}

p {
  color: aqua;
}

#titleText {
  color: silver;
  text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;
}

body {
  background-color: aqua;
}

.panel-heading {
  background-color: purple;
}
